.card-img-top {
  width: 40px;
  height: 40px;
  object-fit: contain; /* Maintain aspect ratio */
  display: flex; /* Enable flexbox */
  justify-content: flex-start; /* Align left */
  margin-top: 5px;
  }